*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mulish', sans-serif;
}
:root{
    --main-color: #13131880;
    --secondery-color:#FF5400;
    --third-color:#fff;
    --paragraph:rgba(19, 19, 24, 0.50);
}
body{
    
}

/* header section  */
header{
    width: 80%;
    margin: 50px auto;
    
}
.nav{
    display: flex;
    justify-content: space-between;
}
.name{
    display: flex;
    align-items: center;
}
.name img{
    width: 48px;
    height: 46px;
    margin-right: 10px;
}
h2{
    color: #000;
    font-size: 36px;
    font-weight: 800;
}
span{
    color: var(--secondery-color);
    font-size: 36px;
    font-weight: 800;
}
/* nav right  */
.blog{
    display: flex;
    align-items: center;
}
.blog ul{
    display: flex;  
}
.blog ul li{
    list-style: none;
    padding: 5px 10px;
    
}
ul li a{
    text-decoration: none;
    color: #000;
    
}
.home{
    color:var(--secondery-color);
    text-align: center;
    font-size: 18px;
    font-weight: 700;
}

/* Banner section  */
.banner{
    display: flex;
    margin: 40px auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('Images/Group\ 13\ \(1\)\ \(1\).png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* height: 500px; */
    border-radius: 15px;
}
.banner-title{
    width: 50%;
    display: flex;
    flex-direction: column;
    color: var(--third-color);
    gap: 20px;
    justify-content: center;
    align-items: center;
}
.banner-title h1{
    color: #FFF;
    font-size: 64px;
    font-weight: 800;
    }
.banner-title p{
    width: 676px;
    color: #d1d1d1;
    text-align: center;
    font-size: 12px;
    font-style: normal;
    font-weight: 300;
    line-height: 26px; /* 162.5% */
}
.banner-option{
    display: inline-flex;
    padding: 16px;
    align-items: flex-start;
    gap: 24px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    margin-top: 20px;
}
.banner-option .white{
    width: 100px;
    height: 40px;
    color: rgba(19, 19, 24, 0.50);
    text-align: center;
    font-size: 12px;
    font-weight: 400;
    border: none;
    border-radius: 5px;

}
.banner-option .find-now{
    width: 100px;
    height: 40px;
    color: #fff;
    text-align: center;
    font-size: 12px;
    font-weight: 400;
    background-color: var(--third-color);
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    
    border-radius: 5px;
    background-color: #FF5400;

}
.red{
    border: none;
    color: #fff;
    margin-left: 8px;
    background:none;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* popular tour section  */
.popular-tour{
    width: 80%;
    margin: 30px auto;
    margin-top: 100px;
    gap: 4%;
    display: flex;

}
.tour-description{
    width: 48%;
    
}
.tour-description p, ul, button{
    margin-top: 40px;
    color: var(--paragraph);
}
.tour-description ul{
    padding-left: 40px;
    gap: 100px;
}
.tour-description button{
    margin-left: 20px;
    width: 80px;
    background-color: var(--secondery-color);
    color: #fff;
    border: none;
    height: 30px;
    border-radius: 4px;
}
.tour-picture{
    width: 48%;
    display: flex;
    justify-content: right;
}









@media screen and (max-width: 600px) {
    .nav{
        width: 100%;
        margin: 10px auto;

    }
    .name{
        width: 100%;
    }
    .name h1{
        font-size: 14px;
        font-weight: 300;
    }
    .name p{
       flex-wrap: wrap;
       color: #FFF;
    }
    .blog{
        display: none;
    }
    .banner{
        display: grid;
        flex-direction: column;
        width: 100%;
        /* height: 500px; */
        
    }
    .banner .banner-option{
       display: flex;
       flex-direction: column;
       margin: 20px auto;
       width: 80%;
    }
    .banner-option .white{
        width: 100%;
    }
    .banner-option .find-now{
        width: 100%;
    }
    .banner .banner-title{
       width: 70%;
       margin: 10px auto;
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
       padding-top: 20px;
       
    }
    .banner-title h1{
        font-size: 24px;
    }
    .banner-title p{
        width: 70%;
        color: var(--main-color);
    }
        /* this is responsive of tour section  */
    .popular-tour{
        display: flex;
        /* grid-template-columns: repeat(1, 1fr); */
        flex-direction: column;
    }
    .tour-description{
        width: 100%;
        margin: 10 auto;
        /* padding-right: 30px; */
    }
    .tour-picture img{
        width: 100%;
        margin-top: 20px;
    }
    .tour-picture{
        width: 100%;
        margin: 40 auto;
        /* padding: 30px; */
    }

}

