*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mulish', sans-serif;
}
:root{
    --main-color: #13131880;
    --secondery-color:#FF5400;
    --third-color:#fff;
    --paragraph:rgba(19, 19, 24, 0.50);
}
body{
    
}

/* header section  */
header{
    width: 80%;
    margin: 50px auto;
    
}
.nav{
    display: flex;
    justify-content: space-between;
}
.name{
    display: flex;
    align-items: center;
}
.name img{
    width: 48px;
    height: 46px;
    margin-right: 10px;
}
h2{
    color: #000;
    font-size: 36px;
    font-weight: 800;
}
span{
    color: var(--secondery-color);
    font-size: 36px;
    font-weight: 800;
}
/* nav right  */
.blog{
    display: flex;
    align-items: center;
}
.blog ul{
    display: flex;  
}
.blog ul li{
    list-style: none;
    padding: 5px 10px;
    
}
ul li a{
    text-decoration: none;
    color: #000;
    
}
.home{
    color:var(--secondery-color);
    text-align: center;
    font-size: 18px;
    font-weight: 700;
}

/* Banner section  */
.banner{
    display: flex;
    margin: 40px auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('Images/Group\ 13\ \(1\)\ \(1\).png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* height: 500px; */
    border-radius: 15px;
}
.banner-title{
    width: 50%;
    display: flex;
    flex-direction: column;
    color: var(--third-color);
    gap: 20px;
    justify-content: center;
    align-items: center;
}
.banner-title h1{
    color: #FFF;
    font-size: 64px;
    font-weight: 800;
    }
.banner-title p{
    width: 676px;
    color: #d1d1d1;
    text-align: center;
    font-size: 12px;
    font-style: normal;
    font-weight: 300;
    line-height: 26px; /* 162.5% */
}
.banner-option{
    display: inline-flex;
    padding: 16px;
    align-items: flex-start;
    gap: 24px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    margin-top: 20px;
}
.banner-option .white{
    width: 100px;
    height: 40px;
    color: rgba(19, 19, 24, 0.50);
    text-align: center;
    font-size: 12px;
    font-weight: 400;
    border: none;
    border-radius: 5px;

}
.banner-option .find-now{
    width: 100px;
    height: 40px;
    color: #fff;
    text-align: center;
    font-size: 12px;
    font-weight: 400;
    background-color: var(--third-color);
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    
    border-radius: 5px;
    background-color: #FF5400;

}
.red{
    border: none;
    color: #fff;
    margin-left: 8px;
    background:none;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* popular tour section  */
.popular-tour{
    width: 80%;
    margin: 30px auto;
    margin-top: 100px;
    gap: 4%;
    display: flex;

}
.tour-description{
    width: 48%;
    
}
.tour-description p, ul, button{
    margin-top: 40px;
    color: var(--paragraph);
}
.tour-description ul{
    padding-left: 40px;
    gap: 100px;
}
.tour-description button{
    margin-left: 20px;
    width: 80px;
    background-color: var(--secondery-color);
    color: #fff;
    border: none;
    height: 30px;
    border-radius: 4px;
}
.tour-picture{
    width: 48%;
    display: flex;
    justify-content: right;
}
/* Destination section  */
.destination-text{
    width: 80%;
    margin: 30px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 50px;

}
.destination-text h1{
    font-size: 50px;
    font-weight: 800;
}
.destination-text p{
    width: 660px;
    text-align: center;
    padding-top: 24px;
}
 /* Destination images  */
 .destination-img{
    width: 80%;
    margin: 40px auto;
    display: grid;
    gap: 18px;
    /* grid-template-columns: repeat(12,1fr);
    grid-template-rows: repeat(3,1fr); */
    grid-template-areas: 
        "num1 num1 num1 num1 num1 num1 num2 num2 num2 num2 num2 num2"
        "num3 num3 num3 num3 num4 num4 num4 num4 num4 num5 num5 num5"
        "num6 num6 num6 num6 num6 num7 num7 num7 num7 num7 num7 num7"
    ;
 }
 .des img{
    width: 100%;
    height: 100%;
 }
 .dst-img1{
    grid-area: num1;
 }
 .dst-img2{
    grid-area: num2;
 }
 .dst-img3{
    grid-area: num3;
 }
 .dst-img4{
    grid-area: num4;
 }
 .dst-img5{
    grid-area: num5;
 }
 .dst-img6{ 
    grid-area: num6;}
 .dst-img7{
    grid-area: num7;
 }
 /* Why choose us   */
 .choose-text{
    width: 80%;
    margin: 30px auto;
    /* display: flex;
    flex-direction: column;
    justify-content: center; */

 }
 .choose-text h1{
    text-align: center;
 }
 .choose-text p{
    text-align: center;
    width: 700px;
    margin: 20px auto;
 }


 .choose-us-container{
    width: 80%;
    margin: 20px auto;
    
 }
 .hotel{
    width: 49%;
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
    height: 330px;
    padding: 30px;
    
    
 }
 .survice{
    width: 49%;
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(41, 206, 246, 0.05);
    height: 330px;
    padding: 30px;
    
 }
 
 .hotel-survice{
    display: flex;
    gap: 2%;
 }
 .hotels{
    color: #131318;
    font-size: 24px;
    font-weight: 800;
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
 }
 .details{
    color: #5a5a5d;
    font-size: 16px;
 }
 .other{
    width: 80%;
    margin: 10px auto;
    display: flex;
    justify-content: center;
 }
 .guarantee{
    width: 49%;
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
    height: 330px;
    padding: 30px;
    display: grid;
    grid-area: guarantee;
 }
 /* News Section  */
 .news-container{
    width: 80%;
    margin: 70px auto;
    display: flex;
    gap: 2%;
 }

 .newslatter{
    width: 39%;
    padding: 35px;
    display: flex;
    flex-direction: column;
    border: 1px solid var(--secondery-color);
    border-radius: 8px;
    justify-content: center;
 }
 .newslatter h3{
    font-size: 24px;
    font-weight: 800;
 }
 .newslatter p{
    color: #5a5a5d;
    font-size: 14px;
    margin-top: 10px;
 }
 .news-input{
    padding: 30px 30px 30px 0;
    
 }
 .news-input button{
    display: block;
    width: 100%;
    height: 36px;
    border: none;
    background-color: var(--secondery-color);
    color: #fff;
    border-radius: 8px;
 }
 .news-input input{
    display: block;
    margin: 30px 0;
    width: 100%;
    height: 36px;
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);
    border: none;
    padding-left: 10px;
 }


 .news-pic{
    width: 59%;
    position: relative;
 }
 .saven-parcent{
    background-color: var(--secondery-color);
    width: 25%;
    border-radius: 8px;
    position: absolute;
    padding: 10px;
    right: 0;
    bottom: 70px;
    transform: rotate(-45deg);
 }
.saven-parcent h3{
    color: #fff;
    text-align: center;
}
.saven-parcent p{
    color: #fff;
    text-align: center;
}
footer{
    width: 100%;
    background: rgba(19, 19, 24, 0.05);
    padding-top: 50px;
}
.footer{
    width: 80%;
    margin: 10px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footer .name{
    display: flex;
    /* align-items: center; */
    justify-content: center;
    
}
.linked{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.linked p{
    text-align: center;
    color:  #5a5a5d;
    padding-top: 20px;
}
.linked img{
    width: 10%;
    margin: 20px 0;
}
hr{
    width: 60%;
    color: #5a5a5d;
    margin: 10px auto;
}
.reserved{
    margin: 20px 0;
    font-size: 14px;
    color: #5a5a5d;
}





@media screen and (max-width: 600px) {
    .nav{
        width: 100%;
        margin: 10px auto;

    }
    .name{
        width: 100%;
    }
    .name h1{
        font-size: 14px;
        font-weight: 300;
    }
    .name p{
       flex-wrap: wrap;
       color: #FFF;
    }
    .blog{
        display: none;
    }
    .banner{
        display: grid;
        flex-direction: column;
        width: 100%;
        /* height: 500px; */
        
    }
    .banner .banner-option{
       display: flex;
       flex-direction: column;
       margin: 20px auto;
       width: 80%;
    }
    .banner-option .white{
        width: 100%;
    }
    .banner-option .find-now{
        width: 100%;
    }
    .banner .banner-title{
       width: 70%;
       margin: 10px auto;
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
       padding-top: 20px;
       
    }
    .banner-title h1{
        font-size: 24px;
    }
    .banner-title p{
        width: 70%;
        color: var(--main-color);
    }
        /* this is responsive of tour section  */
    .popular-tour{
        display: flex;
        /* grid-template-columns: repeat(1, 1fr); */
        flex-direction: column;
    }
    .tour-description{
        width: 100%;
        margin: 10 auto;
        /* padding-right: 30px; */
    }
    .tour-picture img{
        width: 100%;
        margin-top: 20px;
    }
    .tour-picture{
        width: 100%;
        margin: 40 auto;
        /* padding: 30px; */
    }
    .destination-text{
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .destination-text h1{
        text-align: center;
        font-size: 24px;
    }
    .destination-text p{
        width: 80%;
        text-align: center;
    }
    /* destination img section  */
    .destination-img{
        display: grid;
        grid-template-areas:
         "num1"
         "num2"
         "num3"
         "num4"
         "num5"
         "num6"
         "num7"
        ;
    }
    /* Why choose us  */
    .choose-text{
        width: 80%;
    }
    .choose-text p{
        width: 100%;
    }
    .hotel-survice{
        display: flex;
        flex-direction: column;
        
    }
    .hotel{
        width: 100%;
    }
    .survice{
        width: 100%;
        margin-top: 15px;
    }
    .guarantee{
        width: 100%;
    }
    .news-container{
        display: flex;
        flex-direction: column;
        gap: 20px;

    }
    .newslatter{
        width: 100%;
    }
    .news-pic{
        width: 100%;
    }
    .linked img{
        width: 20%;
    }

}

